In [3]:
import pandas as pd
import numpy as np

In [35]:
df = pd.read_csv('/content/Data_for_UCI_named.csv')

In [5]:
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tau1    10000 non-null  float64
 1   tau2    10000 non-null  float64
 2   tau3    10000 non-null  float64
 3   tau4    10000 non-null  float64
 4   p1      10000 non-null  float64
 5   p2      10000 non-null  float64
 6   p3      10000 non-null  float64
 7   p4      10000 non-null  float64
 8   g1      10000 non-null  float64
 9   g2      10000 non-null  float64
 10  g3      10000 non-null  float64
 11  g4      10000 non-null  float64
 12  stab    10000 non-null  float64
 13  stabf   10000 non-null  object
dtypes: float64(13), object(1)
memory usage: 1.1+ MB

In [36]:
df = df.drop(columns='stab')
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,unstable

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf,0,1
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,unstable,0.0,1.0
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,stable,1.0,0.0
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,unstable,0.0,1.0
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,unstable,0.0,1.0
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,unstable,0.0,1.0

In [37]:
df_feature = df.drop(columns='stabf')
df_target = df['stabf']

In [42]:
df_feature.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923

In [41]:
df_target.head()

0    unstable
1      stable
2    unstable
3    unstable
4    unstable
Name: stabf, dtype: object

In [43]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_feature, df_target,
test_size=0.2, random_state=1)

In [44]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
# transform data
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
#print(X_train_scaled)

In [66]:
from sklearn.ensemble import RandomForestClassifier
#Create a Gaussian Classifier
clf=RandomForestClassifier(random_state = 1)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train_scaled,y_train)
clf_predicted_y = clf.predict(X_test_scaled)

In [59]:
from sklearn.ensemble import ExtraTreesClassifier
# define the model
xtr = ExtraTreesClassifier(random_state = 1)
xtr.fit(X_train_scaled,y_train)
xtr_predicted_y = xtr.predict(X_test_scaled)

In [76]:
from xgboost import XGBClassifier
# fit model no training data
xg = XGBClassifier(random_state = 1)
xg.fit(X_train_scaled,y_train)
xg_predicted_y = xg.predict(X_test_scaled)

In [78]:
import lightgbm as ltb
lb = ltb.LGBMClassifier(random_state = 1)
lb.fit(X_train_scaled,y_train)

lb_predicted_y = lb.predict(X_test_scaled)

In [62]:
from sklearn.metrics import recall_score, accuracy_score, precision_score, confusion_matrix

No 14

In [75]:
#Accuracy of Randomforest
accuracy = accuracy_score(y_true=y_test, y_pred=clf_predicted_y)
print( 'Accuracy: {}' .format(round(accuracy*100000), 4 ))

Accuracy: 92900

No 15

In [77]:
#Accuracy of Xgboost
accuracy = accuracy_score(y_true=y_test, y_pred=xg_predicted_y)
print( 'Accuracy: {}' .format(round(accuracy*100000), 4 ))

Accuracy: 91950

No 16

In [79]:
#Accuracy of LGB
accuracy = accuracy_score(y_true=y_test, y_pred=lb_predicted_y)
print( 'Accuracy: {}' .format(round(accuracy*100000), 4 ))

Accuracy: 93750

No 17

In [5]:
from sklearn.model_selection import RandomizedSearchCV


random_grid = {'n_estimators': xtr,
               'cv': 5, 'n_iter': 10,
               'scoring': 'accuracy',
               'n_jobs': -1, 'verbose': 1, 
               'random_state': 1}

rf_random = RandomizedSearchCV(estimator = xtr, n_iter = 10, cv = 5, verbose=1, random_state=1, n_jobs = -1, scoring = 'accuracy')

NameError: ignored

TypeError: ignored